* { 
    background-color: rgba(159, 111, 15, 0.795);
    padding: 0;
    background-image: url('https://images.stockcake.com/public/a/2/c/a2c8b345-1254-4972-99a0-21508de5d839_large/vibrant-sky-rainbow-stockcake.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
